/*============
NAVBAR
=============*/
.navbar-right {
	padding-right: 2%;
}

.navbar-default {
	background-color: black;
	border: 0;
}

.navbar {
	border-radius: 0px;
	height: 100px;
}

.navbar-nav>li>a {
	padding-top: 40px;
	font-size: 14pt;
}

.navbar-default .navbar-nav>li>a  {
	color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:hover  {
	color: #34b568;
}

.navbar-brand {
	padding-top: 70px;
	font-size: 16pt;
}

.navbar-default .navbar-brand {
	color: whitesmoke;
}


.navbar-default .navbar-brand:hover {
	color:#34b568;
}

	/*****
	navbar toggle
	****/

	.navbar-toggle {
		margin-top: 30px;
	}

	.navbar-default .navbar-toggle:hover {
		background-color: #34b568;
		border: 1px solid #26834b;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: whitesmoke;
	}

	.navbar-collapse{
		margin-top: 28px;
		text-align: center;
	}

	.navbar-default .navbar-nav .navbar-collapse>li>a {
		color: green;
	}

/*============
NAVBAR END
=============*/

/*==========
HERO
============*/
.hero {
	position: relative;
	background:	url("https://images.unsplash.com/photo-1445285303476-2f3b16d67b7a?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1050") center no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
	bottom: 20px;
}
/*=========
MEDIA QUERY
==========*/

@media only screen and (max-width: 766px){
	.collapsing, .in {
		background-color: #3d3d3d;
	}

	.navbar-brand {
		padding-top: 40px;
	}
}